<!DOCTYPE HTML>
<html lang="en-US">

<head>
<title>{{ site.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="YourNetworkNerd (https://twitter.com/YourNetworkNerd)">
<meta name="description" content="{{ site.description }}">
<meta name="theme-color" content="#{{ site.color }}">
<!-- OpenGraph Tags -->
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
<!-- Vendor CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/assets/furycord.core.css">
</head>

<body class="text-white bg-dark text-center">
<div class="jumbotron bg-dark">
    <div class="avatar-wrapper">
        <div class="avatar"></div>
        <div class="status"></div>
    </div>
    <div style="line-height: 1; font-size: 30pt;">
        <p><span>Furycord</span><small class="text-muted">#7387</small></p>
    </div>
    <p class="container lead">
        <span id="userCount" class="badge badge-primary"></span>
        <span id="serverCount" class="badge badge-primary"></span>
        <br>
        <span id="dragonCount" class="badge badge-primary"></span>
    </p>
    <p class="lead">{{ site.slogan }}</p>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/assets/discord.core.js"></script>
</html>